body {
    background-image: url("images/floor.jpg");
}

img {
    width: 100px;
    height: auto;
    position: absolute;
}

h1 {
    text-align: center;
    color: wheat;
}

h3.title {
  position: relative;
  top: 5px;
  text-align: center;
  color: wheat;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h3.title > span:nth-child(3) {
  grid-column: 3;
}

h3.commentbox {
    text-align: center;
    position: relative;
    top: 425px;
    color: wheat;
}

hr.commentline {
    position: relative;
    top: 500px;
}

video {
  position: absolute;
  display: grid;
  grid-template-rows: repeat(8, 12.5%);
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1;
  grid-column: 1;
}

div {
    text-align: center;
    top: 425px;
    position: relative;
    color: wheat;
}

#messagearea {
    top: 600px;
}

#rat1 {
    left: 600px;
    top: 150px;
}

#rat2 {
    left: 750px;
    top: 150px;
}

#rat3 {
    left: 900px;
    top: 150px;
}

#rat4 {
    left: 1050px;
    top: 150px;
}

#rat5 {
    left: 1200px;
    top: 150px;
}

#rat6 {
    left: 600px;
    top: 300px;
}

#rat7 {
    left: 750px;
    top: 300px;
}

#rat8 {
    left: 900px;
    top: 300px;
}

#rat9 {
    left: 1050px;
    top: 300px;
}

#rat10 {
    left: 1200px;
    top: 300px;
}

#rat11 {
    left: 600px;
    top: 450px;
}

#rat12 {
    left: 750px;
    top: 450px;
}

#rat13 {
    left: 900px;
    top: 450px;
}

#rat14 {
    left: 1050px;
    top: 450px;
}

#rat15 {
    left: 1200px;
    top: 450px;
}
